<!-- @if ( loading ) {
    <div>Loading data...</div>
}
@if( !loading && error ) {
    <div>{{ error.message }}</div>
}

@if ( !loading && workshops ) {
    <div>Number of workshops = {{ workshops.length }}</div>
} -->

<div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>

<app-error-alert [err]="error" [loading]="loading"></app-error-alert>

<div *ngIf="!loading && workshops">
    

    <div class="row">
        <!-- Explore use of *ngFor directive (old way) -->
        @for ( workshop of workshops; track workshop.id ) {
        <div class="col-12 col-md-6 col-lg-4 my-3 d-flex">
            <app-item [workshop]="workshop"></app-item>
        </div>
        }
    </div>
</div>
